# Data Wrangling:

In [23]:
# import packages
import pandas as pd

In [24]:
# import translated restaurant data to dataframe for data wrangling
df = pd.read_csv(r'restaurant_data_translated.csv', sep=",")

In [25]:
# let's get an idea of what our data looks like
df.head()

,Unnamed: 0,Demand Date,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,January,...,Precipitation No Days above 7d Mean,Sun No Days above 7d Mean,Air temperature No Days above 7d Mean,Wind No Days Below 7d Mean,Cloudiness No Days Below 7d Mean,Precipitation No Days Below 7d Mean,Sun No Days Below 7d Mean,Air temperature No Days Below 7d Mean,Is Holiday,Weekend
0,1,10.4.2013,0,0,0,0,1,0,0,0,...,0,3,3,4,4,0,4,4,0,0
1,2,10.5.2013,0,0,0,0,0,1,0,0,...,1,4,3,4,3,6,3,4,0,1
2,3,10.6.2013,0,0,0,0,0,0,1,0,...,1,4,3,4,3,6,3,4,0,1
3,4,10.7.2013,1,0,0,0,0,0,0,0,...,1,3,4,5,3,6,4,3,0,0
4,5,10.8.2013,0,1,0,0,0,0,0,0,...,1,3,5,5,3,6,4,2,0,0

In [26]:
df.shape

(760, 293)

In [27]:
# the first column is useless since it is just a copy of the index - let's get rid of it
del df[df.columns[0]]

In [28]:
# with that column out of the way, let's set the index to our date to make navigating the rows easier
df.set_index('Demand Date')

,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,January,February,March,...,Precipitation No Days above 7d Mean,Sun No Days above 7d Mean,Air temperature No Days above 7d Mean,Wind No Days Below 7d Mean,Cloudiness No Days Below 7d Mean,Precipitation No Days Below 7d Mean,Sun No Days Below 7d Mean,Air temperature No Days Below 7d Mean,Is Holiday,Weekend
Demand Date,,,,,,,,,,,,,,,,,,,,,
10.4.2013,0,0,0,0,1,0,0,0,0,0,...,0,3,3,4,4,0,4,4,0,0
10.5.2013,0,0,0,0,0,1,0,0,0,0,...,1,4,3,4,3,6,3,4,0,1
10.6.2013,0,0,0,0,0,0,1,0,0,0,...,1,4,3,4,3,6,3,4,0,1
10.7.2013,1,0,0,0,0,0,0,0,0,0,...,1,3,4,5,3,6,4,3,0,0
10.8.2013,0,1,0,0,0,0,0,0,0,0,...,1,3,5,5,3,6,4,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11.3.2015,0,1,0,0,0,0,0,0,0,0,...,0,3,4,4,4,7,4,3,0,0
11.4.2015,0,0,1,0,0,0,0,0,0,0,...,0,3,4,5,3,7,4,3,0,0
11.5.2015,0,0,0,1,0,0,0,0,0,0,...,0,2,4,5,3,7,5,3,0,0
11.6.2015,0,0,0,0,1,0,0,0,0,0,...,0,2,4,5,3,7,5,3,0,0
11.7.2015,0,0,0,0,0,1,0,0,0,0,...,0,2,3,3,3,7,5,4,0,1

In [29]:
# let's see what columns we are working with
cols = list(df.columns)
for col in cols:
    print(col)

Demand Date
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
January
February
March
April
May
June
July
August
September
October
November
December
2013
2014
2015
Calamari
Fish
Shrimp
Chicken
Koefte
Lamb
Steak
Total Fish Production
Total Meat Production
Total
Calamari Demand T1
Calamari Demand T2
Calamari Demand T3
Calamari Demand T4
Calamari Demand T5
Calamari Demand T6
Calamari Demand T7
Fish Demand T1
Fish Demand T2
Fish Demand T3
Fish Demand T4
Fish Demand T5
Fish Demand T6
Fish Demand T7
Shrimp demand T1
Shrimp Demand T2
Shrimp demand T3
Shrimp Demand T4
Shrimp Demand T5
Shrimp demand T6
Shrimp Demand T7
Chicken Demand T1
Chicken Demand T2
Chicken Demand T3
Chicken Demand T4
Chicken Demand T5
Chicken Demand T6
Chicken Demand T7
Koefte Demand T1
Koefte Demand T2
Koefte Demand T3
Koefte Demand T4
Koefte Demand T5
Koefte Demand T6
Koefte Demand T7
Lamb Demand T1
Lamb Demand T2
Lamb Demand T3
Lamb Demand T4
Lamb Demand T5
Lamb Demand T6
Lamb Demand T7
Steak Demand T1
Steak Demand T2
Steak Demand T3
Steak Demand T4
Steak Demand T5
Steak Demand T6
Steak Demand T7
Total Fish Production Demand T1
Total Fish Production Demand T2
Total Fish Production Demand T3
Total Fish Production Demand T4
Total Fish Production Demand T5
Total Fish Production Demand T6
Total Fish Production Demand T7
Total Meat Demand T1
Total Meat Demand T2
Total Meat Demand T3
Total Meat Demand T4
Total Meat Demand T5
Total Meat Demand T6
Total Meat Demand T7
Total Demand T1
Total Demand T2
Total Demand T3
Total Demand T4
Total Demand T5
Total Demand T6
Total Demand T7
Calamari Cumulative Demand T2
Calamari Cumulative Demand T3
Calamari Cumulative Demand T4
Calamari Cumulative Demand T5
Calamari Cumulative Demand T6
Calamari Cumulative Demand T7
Fish Cumulative Demand T2
Fish Cumulative Demand T3
Fish Cumulative Demand T4
Fish Cumulative Demand T5
Fish Cumulative Demand T6
Fish Cumulative Demand T7
Shrimp Cumulative Demand T2
Shrimp Cumulative Demand T3
Shrimp Cumulative Demand T4
Shrimp Cumulative Demand T5
Shrimp Cumulative Demand T6
Shrimp Cumulative Demand T7
Chicken Cumulative Demand T2
Chicken Cumulative Demand T3
Chicken Cumulative Demand T4
Chicken Cumulative Demand T5
Chicken Cumulative Demand T6
Chicken Cumulative Demand T7
Koefte Cumulative Demand T2
Koefte Cumulative Demand T3
Koefte Cumulative Demand T4
Koefte Cumulative Demand T5
Koefte Cumulative Demand T6
Koefte Cumulative Demand T7
Lamb Cumulative Demand T2
Lamb Cumulative Demand T3
Lamb Cumulative Demand T4
Lamb Cumulative Demand T5
Lamb Cumulative Demand T6
Lamb Cumulative Demand T7
Steak Cumulative Demand T2
Steak Cumulative Demand T3
Steak Cumulative Demand T4
Steak Cumulative Demand T5
Steak Cumulative Demand T6
Steak Cumulative Demand T7
Total Fish Production Cumulative Demand T2
Total Fish Production Cumulative Demand T3
Total Fish Production Cumulative Demand T4
Total Fish Production Cumulative Demand T5
Total Fish Production Cumulative Demand T6
Total Fish Production Cumulative Demand T7
Total meat Cumulative Demand T2
Total meat Cumulative Demand T3
Total meat Cumulative Demand T4
Total meat Cumulative Demand T5
Total meat Cumulative Demand T6
Total meat Cumulative Demand T7
Total Cumulative Demand T2
Total Cumulative Demand T3
Total Cumulative Demand T4
Total Cumulative Demand T5
Total Cumulative Demand T6
Total Cumulative Demand T7
Calamari HML Demand T7
Fish HML Demand T7
Shrimp Hml Demand T7
Chicken Hml Demand T7
Koefte HML Demand T7
Lamb HML Demand T7
Steak HML Demand T7
Total Fish Production HML Demand T7
Total meat HML Demand T7
Total HML Demand T7
Calamari No Days above 7d Mean
Fish No Days Above 7d Mean
Shrimp No Days above 7d Mean
Chicken No Days above 7d Mean
Koefte No Days above 7d Mean
Lamb no days above 7d Mean
Steak No Days above 7d Mean
Total Fish Production No Days above 7d Mean
Total meat No Days above 7d Mean
Total no Days above 7d Mean
Calamari No Days Below 7d Mean
Fish No Days Below 7d Mean
Shrimp No Days Below 7d Mean
Chicken No Days Below 7d Mean
Koefte No Days Below 7d Mean
Lamb No Days Below 7d Mean
Steak No Days Below 7d Mean
Total Fish Production No Days Below 7d Mean
Total meat No Days Below 7d Mean
Total No Days Below 7d Mean
Calamari Mean Same WDay Demands W2
Calamari Mean Same WDay Demands W3
Calamari Mean Same Wday Demands W4
Fish Mean Same WDay Demands W2
Fish Mean Same WDay Demands W3
Fish Mean Same WDay Demands W4
Shrimp means Wday Demands W2
Shrimp means Wday Demands W3
Shrimp meaning wday Demands w4
Chicken Mean Same WDay Demands W2
Chicken Mean Same WDay Demands W3
Chicken Mean Same Wday Demands W4
Koefte Mean Same WDay Demands W2
Koefte Mean Same WDay Demands W3
Koefte Mean Same Wday Demands W4
Lamb Mean Same WDay Demands W2
Lamb Mean Same WDay Demands W3
Lamb Mean Same Wday Demands W4
Steak Mean Same WDay Demands W2
Steak Mean Same WDay Demands W3
Steak Mean Same Wday Demands W4
Total Fish Production Mean Same WDay Demands W2
Total Fish Production Mean Same WDay Demands W3
Total Fish Production Mean Same Wday Demands W4
Total meat Mean Same WDay Demands W2
Total meat Mean Same WDay Demands W3
Total meat Mean Same WDay Demands W4
Total Mean Same WDay Demands W2
Total Mean Same WDay Demands W3
Total Mean Same WDay Demands W4
Is Outlier High
Is Outlier low
Wind
Cloudiness
Precipitation
SUN
Air temperature
Wind T1
Wind T2
Wind T3
Cloudiness T1
Cloudiness T2
Cloudiness T3
Precipitation T1
Precipitation T2
Precipitation T3
Sun T1
Sun T2
Sun T3
Air temperature T1
Air temperature T2
Air temperature T3
Wind Mean Over Last T2
Wind Mean Over Last T3
Wind Mean Over Last T4
Wind Mean Over Last T5
Wind Mean Over Last T6
Wind Mean Over Last T7
Cloudiness Mean Over Last T2
Cloudiness Mean Over Last T3
Cloudiness Mean Over Last T4
Cloudiness Mean Over Last T5
Cloudiness Mean Over Last T6
Cloudiness Mean Over Last T7
Precipitation Mean Over Last T2
Precipitation Mean Over Last T3
Precipitation Mean Over Last T4
Precipitation Mean Over Last T5
Precipitation Mean Over Last T6
Precipitation Mean Over Last T7
Sun Mean Over Last T2
Sun Mean Over Last T3
Sun Mean Over Last T4
Sun Mean Over Last T5
Sun Mean Over Last T6
Sun Mean Over Last T7
Air temperature Mean Over Last T2
Air temperature Mean Over Last T3
Air temperature Mean Over Last T4
Air temperature Mean Over Last T5
Air temperature Mean Over Last T6
Air temperature Mean Over Last T7
Wind HML Over T7
Cloudiness HML Over T7
Precipitation HML Over T7
Sun HML Over T7
Air temperature HML Over T7
Wind No Days above 7d Mean
Cloudiness no Days above 7d Mean
Precipitation No Days above 7d Mean
Sun No Days above 7d Mean
Air temperature No Days above 7d Mean
Wind No Days Below 7d Mean
Cloudiness No Days Below 7d Mean
Precipitation No Days Below 7d Mean
Sun No Days Below 7d Mean
Air temperature No Days Below 7d Mean
Is Holiday
Weekend

In [30]:
# since there was no description of what T1-T7 is specifically referring to
# we can get rid of these columns for now
drop_start = df.columns.get_loc("Calamari Demand T1")
drop_end = df.columns.get_loc("Is Outlier low")

print(drop_start,drop_end)

33 224

In [31]:
# deleting columns with T1-T7 in them
df_new = df.drop(df.iloc[:, 33:224], axis=1)

In [32]:
# checking to make sure they are gone
df_new.head()

,Demand Date,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,January,February,...,Precipitation No Days above 7d Mean,Sun No Days above 7d Mean,Air temperature No Days above 7d Mean,Wind No Days Below 7d Mean,Cloudiness No Days Below 7d Mean,Precipitation No Days Below 7d Mean,Sun No Days Below 7d Mean,Air temperature No Days Below 7d Mean,Is Holiday,Weekend
0,10.4.2013,0,0,0,0,1,0,0,0,0,...,0,3,3,4,4,0,4,4,0,0
1,10.5.2013,0,0,0,0,0,1,0,0,0,...,1,4,3,4,3,6,3,4,0,1
2,10.6.2013,0,0,0,0,0,0,1,0,0,...,1,4,3,4,3,6,3,4,0,1
3,10.7.2013,1,0,0,0,0,0,0,0,0,...,1,3,4,5,3,6,4,3,0,0
4,10.8.2013,0,1,0,0,0,0,0,0,0,...,1,3,5,5,3,6,4,2,0,0

In [33]:
# repeat the same steps above for the weather columns
drop_start = df_new.columns.get_loc("Wind T1")
drop_end = df_new.columns.get_loc("Air temperature No Days Below 7d Mean")

print(drop_start,drop_end)

39 98

In [34]:
df_new.drop(df_new.iloc[:, 39:99], inplace=True, axis=1)

In [35]:
# check to see that the columns are gone
df_new.head()

,Demand Date,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,January,February,...,Total Meat Production,Total,Is Outlier low,Wind,Cloudiness,Precipitation,SUN,Air temperature,Is Holiday,Weekend
0,10.4.2013,0,0,0,0,1,0,0,0,0,...,149,173,0,1.916667,7.666667,0.1,150,15.858333,0,0
1,10.5.2013,0,0,0,0,0,1,0,0,0,...,147,168,0,2.738462,6.923077,10.7,0,13.192308,0,1
2,10.6.2013,0,0,0,0,0,0,1,0,0,...,69,91,0,1.364286,8.000000,0.4,0,10.571429,0,1
3,10.7.2013,1,0,0,0,0,0,0,0,0,...,91,101,0,2.316667,6.416667,0.0,176,13.333333,0,0
4,10.8.2013,0,1,0,0,0,0,0,0,0,...,98,118,0,1.658333,8.000000,0.0,0,13.541667,0,0

In [36]:
df_new.drop('Is Outlier low', axis=1, inplace=True)

In [37]:
new_cols = list(df_new.columns)

In [38]:
for col in new_cols:
    print(col)

Demand Date
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
January
February
March
April
May
June
July
August
September
October
November
December
2013
2014
2015
Calamari
Fish
Shrimp
Chicken
Koefte
Lamb
Steak
Total Fish Production
Total Meat Production
Total
Wind
Cloudiness
Precipitation
SUN
Air temperature
Is Holiday
Weekend

In [39]:
# check for null values
df_new.isnull().any()

Demand Date              False
Monday                   False
Tuesday                  False
Wednesday                False
Thursday                 False
Friday                   False
Saturday                 False
Sunday                   False
January                  False
February                 False
March                    False
April                    False
May                      False
June                     False
July                     False
August                   False
September                False
October                  False
November                 False
December                 False
2013                     False
2014                     False
2015                     False
Calamari                 False
Fish                     False
Shrimp                   False
Chicken                  False
Koefte                   False
Lamb                     False
Steak                    False
Total Fish Production    False
Total Meat Production    False
Total                    False
Wind                     False
Cloudiness               False
Precipitation            False
SUN                      False
Air temperature          False
Is Holiday               False
Weekend                  False
dtype: bool

In [40]:
# check to see if our columns contain the correct types of data
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Demand Date            760 non-null    object
 1   Monday                 760 non-null    int64
 2   Tuesday                760 non-null    int64
 3   Wednesday              760 non-null    int64
 4   Thursday               760 non-null    int64
 5   Friday                 760 non-null    int64
 6   Saturday               760 non-null    int64
 7   Sunday                 760 non-null    int64
 8   January                760 non-null    int64
 9   February               760 non-null    int64
 10  March                  760 non-null    int64
 11  April                  760 non-null    int64
 12  May                    760 non-null    int64
 13  June                   760 non-null    int64
 14  July                   760 non-null    int64
 15  August                 760 non-null    int64
 16  September              760 non-null    int64
 17  October                760 non-null    int64
 18  November               760 non-null    int64
 19  December               760 non-null    int64
 20  2013                   760 non-null    int64
 21  2014                   760 non-null    int64
 22  2015                   760 non-null    int64
 23  Calamari               760 non-null    int64
 24  Fish                   760 non-null    int64
 25  Shrimp                 760 non-null    int64
 26  Chicken                760 non-null    int64
 27  Koefte                 760 non-null    int64
 28  Lamb                   760 non-null    int64
 29  Steak                  760 non-null    int64
 30  Total Fish Production  760 non-null    int64
 31  Total Meat Production  760 non-null    int64
 32  Total                  760 non-null    int64
 33  Wind                   760 non-null    float64
 34  Cloudiness             760 non-null    float64
 35  Precipitation          760 non-null    float64
 36  SUN                    760 non-null    int64
 37  Air temperature        760 non-null    float64
 38  Is Holiday             760 non-null    int64
 39  Weekend                760 non-null    int64
dtypes: float64(4), int64(35), object(1)
memory usage: 237.6+ KB

In [41]:
# casting our Demand Date column to datetime 
df_new['Demand Date'] = pd.to_datetime(df_new['Demand Date'])

In [42]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Demand Date            760 non-null    datetime64[ns]
 1   Monday                 760 non-null    int64
 2   Tuesday                760 non-null    int64
 3   Wednesday              760 non-null    int64
 4   Thursday               760 non-null    int64
 5   Friday                 760 non-null    int64
 6   Saturday               760 non-null    int64
 7   Sunday                 760 non-null    int64
 8   January                760 non-null    int64
 9   February               760 non-null    int64
 10  March                  760 non-null    int64
 11  April                  760 non-null    int64
 12  May                    760 non-null    int64
 13  June                   760 non-null    int64
 14  July                   760 non-null    int64
 15  August                 760 non-null    int64
 16  September              760 non-null    int64
 17  October                760 non-null    int64
 18  November               760 non-null    int64
 19  December               760 non-null    int64
 20  2013                   760 non-null    int64
 21  2014                   760 non-null    int64
 22  2015                   760 non-null    int64
 23  Calamari               760 non-null    int64
 24  Fish                   760 non-null    int64
 25  Shrimp                 760 non-null    int64
 26  Chicken                760 non-null    int64
 27  Koefte                 760 non-null    int64
 28  Lamb                   760 non-null    int64
 29  Steak                  760 non-null    int64
 30  Total Fish Production  760 non-null    int64
 31  Total Meat Production  760 non-null    int64
 32  Total                  760 non-null    int64
 33  Wind                   760 non-null    float64
 34  Cloudiness             760 non-null    float64
 35  Precipitation          760 non-null    float64
 36  SUN                    760 non-null    int64
 37  Air temperature        760 non-null    float64
 38  Is Holiday             760 non-null    int64
 39  Weekend                760 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(35)
memory usage: 237.6 KB

In [45]:
df_new.shape

(760, 40)

In [44]:
# exporting our processed dataframe to a csv for future use
df_new.to_csv('data_cleaned.csv',sep=',')